<div id="veg_demo" style="width:640px;">
<div style="clear:both;margin-left:80px;">
<img src="../uploads/180530_120125_610376203203a3pJ.png" alt="" usemap="#Map" />
</div>
<div style="clear:both; height:8px;"></div>
<div id="selections" style="clear:both;"></div>
</div>
<map name="Map" id="Map">
    <area alt="" name="section_2" data-id="4" title="" href="#" shape="poly" coords="3,674,254,673,0,369" />
    <area alt="" name="section_3" data-id="5" title="" href="#" shape="poly" coords="255,671,5,3,534,0,436,104,915,673" />
    <area alt="" name="section_4" data-id="6" title="" href="#" shape="poly" coords="253,670,2,366,5,5" />
    <area alt="" name="section_5" data-id="7" title="" href="#" shape="poly" coords="920,672,1198,674,1198,494,828,104,915,0,537,0,440,105" />
    <area alt="" name="section_6" data-id="8" title="" href="#" shape="poly" coords="1199,487,1199,315,1002,105,1097,1,919,4,832,104" />
    <area alt="" name="section_7" data-id="9" title="" href="#" shape="poly" coords="1199,311,1007,103,1099,2,1199,6" />
    [...]
</map>